body{
  background-color: gainsboro;
}
.cart {
  background-color: darkcyan;
  text-align: center;
  margin: 20px;
  font-size: x-large;
  font-style: bold;
}

.star {
  color: rgb(255, 170, 0);
}

.button {
  margin: 10px;
}

.card {
  background-color:rgb(249, 255, 224);
  border: 2px solid black;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
.pricecol{
  margin-right: 30px;
}

.removebut {
  display: flex;
  justify-content: flex-end;
}

.imgslot {
  margin: 10px;
}

.qnty {
  padding: 10px;
}

.price {
  display: flex;
  align-items: center;
}

.descslot {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.title {
  width: 300px;
  color: orangered;
}

.desc {
  color: darkviolet;
}

.brand {
  color: rgb(245, 106, 36);
}

.stock {
  color: brown;
}

.img {
  margin: 20px;
  border: 1px solid black;
  height: 30%;
}

.rate {
  text-align: center;
  margin: 20px;
  width: 200px;
}
.discountslot{
  display: flex;
  justify-content: space-around;
}
.total{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.subtot{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.ship{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.totdisp{
  display: flex;
  flex-direction: column;
}
